pip==25.0.1  # (latest as of Feb 2025)
setuptools
wheel
hdbscan==0.8.40
joblib==1.2.0
numpy==2.2.3
scikit-learn==1.6.1
scipy==1.15.2
threadpoolctl==3.5.0
streamlit
openai
transformers
sentence-transformers
torch==2.1.0
torchvision==0.16.0
